{% extends "base.html" %}
{% block content %}
<div class="container text-center">


  <h2 class="m-5">Mohamed has written {{blogs.count}} blog{{blogs.count|pluralize}}</h2>
 <div class="row">
  {% for blog in blogs %}
  <div class="col-md-4">           
      <div class="card" style="width: 18rem;">
         <div class="card-body">
         <a href="{% url 'blog:blog-detail' blog.id %}" class="card-title">{{blog}}</a>
         <p class="card-text"> {{blog.description}} </p>
         <p class="card-text">--{{blog.date|date:'F jS Y'}}--</p>   
         </div>
      </div>
   </div>
{% endfor %}
</div>
</div>
{% endblock content %}